# ignore the buildroot directories but keep archives
#buildroot-*.tar.*
buildroot-*/
dl/

# ignore build sdcard images in toplevel
/sdcard*.img

# secret values shouldn't be tracked
secrets.cfg
credentials.json

# neither should ssh keys in rootfs
rootfs/etc/ssh/ssh_host_*
